<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></head>
<body>
<div class="container mt-5">
    <h2>Lista de Empleado</h2>
    <a th:href="@{/empleado/registrar_empleado}" class="btn btn-primary">Registrar</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>DNI Empleado</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Area Laboral</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado : ${listaemple}">
            <td th:text="${producto.dniempleado}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.apellido}"></td>
            <td th:text="${producto.fechaNacimiento}"></td>
            <td th:text="${producto.f}"></td>
            <td th:text="${producto.categoriaEntity.nombreCategoria}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>