<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></head>
<body>
<div class="container mt-5">
    <h2>Lista de Empleado</h2>
    <a th:href="@{/empleado/registrar_empleado}" class="btn btn-primary">Registrar</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>DNI Empleado</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Area Laboral</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado : ${listaemple}">
            <td th:text="${empleado.dniempleado}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.apellido}"></td>
            <td th:text="${empleado.fechaNacimiento}"></td>
            <td th:text="${empleado.direccion}"></td>
			<td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.areaEntity.nombreArea}"></td>
			<td>
			<a th:href="@{/detalle_empleado/{id}(id=${user.empleadoDNI})}" class="btn btn-info">Ver</a> |
			<a th:href="@{/editar_empleado/{id}(id=${user.empleadoDNI})}" class="btn btn-warning">Editar</a> 
			</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>